// Fonts
$font-family: "Manrope", sans-serif !important;

// Colors
$black: #000000;
$white: #ffffff;
$grey: #b2b2b2;
$light-grey: #888888;
$dark-grey: #585858;
$white-grey: #e2e2e2;
$pale-grey: #f0f5ff;
$blue: #0876f8;
$powder-blue: #adc6ff;
$navy-blue: #181a53;
$soft-blue: #7275e6;
$dusk-blue: #292c8a;
$pale-blue: #f1f5fe;
$light-blue: #5dcfea;
$f5f5f5: #f5f5f5;
$f8f8fc: #f8f8fc;
$border: #70707033;
$golden: #CFA935;
$blueberry: #3b3e9f;
$piss-yellow: #e6ca2f;
$light-tan: #fceec3;
$turtle-green: #77ba63;
$dull-teal: #62aa99;
$golden-button-hover: #7c6316;


// End colors

// Breakpoints
$large-max: 1600px;
$large-min: 1439px;

$medium-max: 1440px;
$medium-min: 1365px;

$small-max: 1366px;
$small-min: 1279px;

$laptop-max: 1280px;
$laptop-min: 1160px;

$tablet-min: 768px;
$tablet-max: 1159px;

$mobile-min: 360px;
$mobile-max: 767px;

// End Breakpoints

// Spacing
$margin-top-40: 40px;
$margin-bottom-40: 40px;

// End Spacing
