/*
This file is used to contain all page imports.
Files inside this folder should contain all styles relating
to pages.
*/
//Import page files

@import "./login";
@import "./register";
@import "./forgot-password";
@import "./issue-new-certificate";
@import "./verify-documents";
@import "./verify-certificate";
