.verify-documents {
    .title {
        color: #2F3847;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
    }

    .card {
        border: 2px dashed #E5E7E8;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;

        .badge-banner {
            position: relative;
            width: 100%;
            height: 300px;
            margin: 0 auto;
        }

        .golden-upload {
            color: $white;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 12px 20px 12px 56px;
            border-radius: 12px;
            background: $golden;
            position: relative;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            cursor: pointer;
            margin-top: 20px;

            &::before {
                content: '';
                position: absolute;
                left: 20px;
                width: 26px;
                height: 26px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6038 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2987 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.75H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2987 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6038 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6038 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1057 1.63127 22.4239 2.60351 23.3961C3.57575 24.3684 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3684 23.3958 23.3961C24.3681 22.4239 24.9149 21.1057 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6038 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='white'/%3E%3Cpath d='M7.26563 9.43258L11.9164 4.78183V18.4167C11.9164 18.704 12.0305 18.9795 12.2337 19.1827C12.4368 19.3859 12.7124 19.5 12.9997 19.5C13.287 19.5 13.5626 19.3859 13.7657 19.1827C13.9689 18.9795 14.083 18.704 14.083 18.4167V4.78183L18.7338 9.43258C18.9381 9.62991 19.2118 9.73911 19.4958 9.73664C19.7799 9.73417 20.0516 9.62024 20.2524 9.41938C20.4533 9.21852 20.5672 8.94681 20.5697 8.66276C20.5722 8.37871 20.463 8.10506 20.2656 7.90074L13.7656 1.40074C13.5625 1.19765 13.287 1.08356 12.9997 1.08356C12.7124 1.08356 12.4369 1.19765 12.2338 1.40074L5.73379 7.90074C5.53645 8.10506 5.42726 8.37871 5.42973 8.66276C5.4322 8.94681 5.54613 9.21852 5.74699 9.41938C5.94785 9.62024 6.21956 9.73417 6.50361 9.73664C6.78765 9.73911 7.06131 9.62991 7.26563 9.43258Z' fill='white'/%3E%3C/svg%3E");
            }

            &:hover {
                box-shadow: 0px 0px 7px 1px $golden-button-hover;
            }
        }

        .information {
            color: #5A677E;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 20px;
        }
    }

    .valid-cerficate-info {
        border-radius: 38px;
        background: #F3F4F6;
        padding: 40px;
        border: none;

        .cerficate-external-info {
            .details {
                margin-bottom: 14px;
                .heading {
                    color: #4D5060;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 10px;
                }

                .heading-info {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                &.varification-info {
                    .heading-info {
                        color: $golden;

                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        background: #F5EED7;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
                        border: none;
                        padding: 14px 40px;
                    }
                }
            }
        }

        .dark-card {
            border-radius: 26px;
            background: #1C1F30;
            border: none;
            padding: 30px 40px;
            margin-bottom: 50px;

            &:after {
                content: '';
                position: absolute;
                right: 25px;
                top: 25px;
                background-image: url(/backgrounds/bubbles.svg);
                width: 80px;
                height: 80px;
                background-repeat: no-repeat;
            }

            .certificate-name {
                color: $white;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 14px 18px;
                margin-bottom: 20px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.15);
            }

            .certificate-internal-info {
                .badge-banner {
                    position: relative;
                    width: 330px;
                    height: 196px;
                }

                .hash-info {
                    .hash-title {
                        color: $white;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 10px;
                    }

                    .hash-info {
                        color: $white;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    hr {
                        height: 2px;
                        background-color: rgba(255, 255, 255, 0.50);
                        margin: 16px 0;
                    }

                    .vertical-line {
                        width: 2px;
                        max-width: 2px;
                        height: 100% !important;
                        transform: rotate(180deg);
                        position: absolute;
                        left: 50%;
                        margin: 0 !important;
                        padding: 0;
                    }

                    .col-md-6 {
                        padding: 20px;
                        // border: 1px solid #fff
                    }
                }
            }
        }
    }

    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        .title {
            font-size: 26px;
        }

        .valid-cerficate-info {
            padding: 0;
    
            .cerficate-external-info {
                .details {
                    &:not(:last-child) {
                        margin-bottom: 14px;
                    }
                    .heading {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
    
                    .heading-info {
                        font-size: 18px;
                    }
    
                    &.varification-info {
                        .heading-info {  
                            font-size: 20px;
                            padding: 14px 40px;
                        }
                    }
                }
            }
    
            .dark-card {
                padding: 20px;
                margin-bottom: 40px;
    
                .certificate-internal-info {
                    .badge-banner {
                        width: 100%;
                    }
    
                    .hash-info {
                        .hash-title {
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
    
                        .hash-info {
                            font-size: 16px;
                            word-break: break-word;
                        }
    
                        hr {
                            display: none;
                        }
    
                        .vertical-line {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}