.register {
    padding: 40px 0 80px;

    .title {
        color: #2F3847;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 40px;
    }

    .register-form {
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);

            &:not(:first-child) {
                margin-top: 30px;
            }

            .card-body {
                padding: 0;

                .card-title {
                    color: #2F3847;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    border-radius: 10px 10px 0px 0px;
                    background: #F3F3F3;
                    padding: 18px 30px;
                }

                .input-elements {
                    padding: 18px 30px;

                    .form-label {
                        color: #5A677E;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }

        .golden {
            margin-top: 80px;
        }
    }
}