.global-button {
    border-radius: 12px;
    border: none;
    padding: 14px 30px;

    &.golden {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: $golden;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &:hover {
            background: rgba(186, 152, 47, 1);
        }
    }

    &.upload {
        color: $golden;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px 12px 56px;
        border-radius: 12px;
        background: rgba(207, 169, 53, 0.15);
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &::before {
            content: '';
            position: absolute;
            left: 20px;
            width: 26px;
            height: 26px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6037 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2986 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.7499H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2986 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6037 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6037 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1056 1.63127 22.4238 2.60351 23.3961C3.57575 24.3683 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3683 23.3958 23.3961C24.3681 22.4238 24.9149 21.1056 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6037 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='%23CFA935'/%3E%3Cpath d='M7.26563 9.43252L11.9164 4.78176V18.4166C11.9164 18.7039 12.0305 18.9795 12.2337 19.1826C12.4368 19.3858 12.7124 19.4999 12.9997 19.4999C13.287 19.4999 13.5626 19.3858 13.7657 19.1826C13.9689 18.9795 14.083 18.7039 14.083 18.4166V4.78176L18.7338 9.43252C18.9381 9.62985 19.2118 9.73905 19.4958 9.73658C19.7799 9.73411 20.0516 9.62018 20.2524 9.41932C20.4533 9.21846 20.5672 8.94675 20.5697 8.6627C20.5722 8.37865 20.463 8.105 20.2656 7.90068L13.7656 1.40068C13.5625 1.19759 13.287 1.0835 12.9997 1.0835C12.7124 1.0835 12.4369 1.19759 12.2338 1.40068L5.73379 7.90068C5.53645 8.105 5.42726 8.37865 5.42973 8.6627C5.4322 8.94675 5.54613 9.21846 5.74699 9.41932C5.94785 9.62018 6.21956 9.73411 6.50361 9.73658C6.78765 9.73905 7.06131 9.62985 7.26563 9.43252Z' fill='%23CFA935'/%3E%3C/svg%3E");
        }

        &.cert {
            background: transparent;
            border: 1px solid $golden;

            // 1440
            @media (min-width: $medium-min) and (max-width: $medium-max) {
                font-size: 18px !important;

                &::before {
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                }
            }

            // 1366
            @media (min-width: $small-min) and (max-width: $small-max) {
                font-size: 16px !important;

                &::before {
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                }
            }
        }

        &:hover {
            background: rgb(207 169 53 / 37%);
        }
    }

    &.golden-upload {
        color: $white;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px 12px 56px;
        border-radius: 12px;
        background: $golden;
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &::before {
            content: '';
            position: absolute;
            left: 20px;
            width: 26px;
            height: 26px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6038 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2987 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.75H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2987 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6038 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6038 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1057 1.63127 22.4239 2.60351 23.3961C3.57575 24.3684 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3684 23.3958 23.3961C24.3681 22.4239 24.9149 21.1057 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6038 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='white'/%3E%3Cpath d='M7.26563 9.43258L11.9164 4.78183V18.4167C11.9164 18.704 12.0305 18.9795 12.2337 19.1827C12.4368 19.3859 12.7124 19.5 12.9997 19.5C13.287 19.5 13.5626 19.3859 13.7657 19.1827C13.9689 18.9795 14.083 18.704 14.083 18.4167V4.78183L18.7338 9.43258C18.9381 9.62991 19.2118 9.73911 19.4958 9.73664C19.7799 9.73417 20.0516 9.62024 20.2524 9.41938C20.4533 9.21852 20.5672 8.94681 20.5697 8.66276C20.5722 8.37871 20.463 8.10506 20.2656 7.90074L13.7656 1.40074C13.5625 1.19765 13.287 1.08356 12.9997 1.08356C12.7124 1.08356 12.4369 1.19765 12.2338 1.40074L5.73379 7.90074C5.53645 8.10506 5.42726 8.37871 5.42973 8.66276C5.4322 8.94681 5.54613 9.21852 5.74699 9.41938C5.94785 9.62024 6.21956 9.73417 6.50361 9.73664C6.78765 9.73911 7.06131 9.62991 7.26563 9.43258Z' fill='white'/%3E%3C/svg%3E");
        }

        &.scan-qr {
            &::before {
               background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 15H13.5C14.3285 15 15 14.3285 15 13.5V10.5C15 10.224 14.776 10 14.5 10C14.224 10 14 10.224 14 10.5V13.5C14 13.776 13.776 14 13.5 14H10.5C10.224 14 10 14.224 10 14.5C10 14.776 10.224 15 10.5 15ZM4.5 14H1.5C1.224 14 1 13.776 1 13.5V10.5C1 10.224 0.776 10 0.5 10C0.224 10 0 10.224 0 10.5V13.5C0 14.3285 0.6715 15 1.5 15H4.5C4.776 15 5 14.776 5 14.5C5 14.224 4.776 14 4.5 14ZM7 9.5V12.5C7 12.776 7.224 13 7.5 13C7.776 13 8 12.776 8 12.5V9.5C8 9.224 7.776 9 7.5 9C7.224 9 7 9.224 7 9.5ZM6 9.5C6 9.224 5.776 9 5.5 9H2.5C2.224 9 2 9.224 2 9.5V12.5C2 12.776 2.224 13 2.5 13H5.5C5.776 13 6 12.776 6 12.5V9.5ZM13 9.5C13 9.224 12.776 9 12.5 9H9.5C9.224 9 9 9.224 9 9.5V12.5C9 12.776 9.224 13 9.5 13H12.5C12.776 13 13 12.776 13 12.5V9.5ZM5 10V12H3V10H5ZM12 10V12H10V10H12ZM7 8H7.5C7.776 8 8 7.776 8 7.5C8 7.224 7.776 7 7.5 7H7C6.724 7 6.5 7.224 6.5 7.5C6.5 7.776 6.724 8 7 8ZM2.5 8H5C5.276 8 5.5 7.776 5.5 7.5C5.5 7.224 5.276 7 5 7H2.5C2.224 7 2 7.224 2 7.5C2 7.776 2.224 8 2.5 8ZM11.5 7H12V7.5C12 7.776 12.224 8 12.5 8C12.776 8 13 7.776 13 7.5V6.5C13 6.224 12.776 6 12.5 6H11.5C11.224 6 11 6.224 11 6.5C11 6.776 11.224 7 11.5 7ZM10 7.5V5H10.5C10.776 5 11 4.776 11 4.5C11 4.224 10.776 4 10.5 4H9.5C9.224 4 9 4.224 9 4.5V7.5C9 7.776 9.224 8 9.5 8C9.776 8 10 7.776 10 7.5ZM7 4.5V5.5C7 5.776 7.224 6 7.5 6C7.776 6 8 5.776 8 5.5V4.5C8 4.224 7.776 4 7.5 4C7.224 4 7 4.224 7 4.5ZM6 2.5C6 2.224 5.776 2 5.5 2H2.5C2.224 2 2 2.224 2 2.5V5.5C2 5.776 2.224 6 2.5 6H5.5C5.776 6 6 5.776 6 5.5V2.5ZM4.5 0H1.5C0.6715 0 0 0.6715 0 1.5V4.5C0 4.776 0.224 5 0.5 5C0.776 5 1 4.776 1 4.5V1.5C1 1.224 1.224 1 1.5 1H4.5C4.776 1 5 0.776 5 0.5C5 0.224 4.776 0 4.5 0ZM5 3V5H3V3H5ZM10.5 1H13.5C13.776 1 14 1.224 14 1.5V4.5C14 4.776 14.224 5 14.5 5C14.776 5 15 4.776 15 4.5V1.5C15 0.6715 14.3285 0 13.5 0H10.5C10.224 0 10 0.224 10 0.5C10 0.776 10.224 1 10.5 1ZM7.5 3H12V4.5C12 4.776 12.224 5 12.5 5C12.776 5 13 4.776 13 4.5V2.5C13 2.224 12.776 2 12.5 2H7.5C7.224 2 7 2.224 7 2.5C7 2.776 7.224 3 7.5 3Z' fill='white'/%3E%3C/svg%3E") !important; 
            }

             // 1440
             @media (min-width: $medium-min) and (max-width: $medium-max) {
                margin-top: 26px !important;
                font-size: 18px !important;
             }

            // 1366
            @media (min-width: $small-min) and (max-width: $small-max) {
                margin-top: 24px !important;
                font-size: 16px !important;
            }
        }

        &:hover {
            box-shadow: inset 0px 0px 20px 0px #675213c9;
        }
    }

    &.golden-upload-cert {
        color: $white;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px 12px 56px;
        border-radius: 12px;
        background: $golden;
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &::before {
            content: '';
            position: absolute;
            left: 20px;
            width: 26px;
            height: 26px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6038 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2987 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.75H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2987 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6038 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6038 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1057 1.63127 22.4239 2.60351 23.3961C3.57575 24.3684 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3684 23.3958 23.3961C24.3681 22.4239 24.9149 21.1057 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6038 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='white'/%3E%3Cpath d='M7.26563 9.43258L11.9164 4.78183V18.4167C11.9164 18.704 12.0305 18.9795 12.2337 19.1827C12.4368 19.3859 12.7124 19.5 12.9997 19.5C13.287 19.5 13.5626 19.3859 13.7657 19.1827C13.9689 18.9795 14.083 18.704 14.083 18.4167V4.78183L18.7338 9.43258C18.9381 9.62991 19.2118 9.73911 19.4958 9.73664C19.7799 9.73417 20.0516 9.62024 20.2524 9.41938C20.4533 9.21852 20.5672 8.94681 20.5697 8.66276C20.5722 8.37871 20.463 8.10506 20.2656 7.90074L13.7656 1.40074C13.5625 1.19765 13.287 1.08356 12.9997 1.08356C12.7124 1.08356 12.4369 1.19765 12.2338 1.40074L5.73379 7.90074C5.53645 8.10506 5.42726 8.37871 5.42973 8.66276C5.4322 8.94681 5.54613 9.21852 5.74699 9.41938C5.94785 9.62024 6.21956 9.73417 6.50361 9.73664C6.78765 9.73911 7.06131 9.62991 7.26563 9.43258Z' fill='white'/%3E%3C/svg%3E");
        }

        &:hover {
            box-shadow: inset 0px 0px 20px 0px #675213c9;
        }
    }

    &.outlined {
        color: $golden;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 12px;
        border: 1px solid $golden;
        background-color: transparent;

        &:hover {
            border: 1px solid $golden-button-hover;
        }
    }

    &.back-btn {
        padding: 10px;
        color: #5B5A5F;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: #F3F3F3;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            display: inline-block;
            margin-right: 8px; /* Adjust the space between the icon and text */
            width: 18px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M15.5308 14.9958C15.3039 14.9958 15.1068 14.8317 15.0689 14.6041C14.7306 12.629 12.8181 9.18188 7.96666 8.98044V11.5146C7.96666 11.6902 7.86853 11.8511 7.71241 11.9314C7.55625 12.0117 7.36831 11.9981 7.22544 11.896L0.196281 6.87519C0.0730938 6.78719 0 6.6451 0 6.49372C0 6.34232 0.0730938 6.20026 0.196281 6.11229L7.22547 1.09147C7.36831 0.989412 7.55628 0.975755 7.71241 1.0561C7.86853 1.13644 7.96666 1.29732 7.96666 1.47291V4.04526C10.9655 4.34438 16 6.50901 16 14.5271C16 14.771 15.813 14.9741 15.5699 14.9942C15.5568 14.9953 15.5438 14.9958 15.5308 14.9958Z' fill='%235B5A5F'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: #bfbfbf;
    }
}

.error-icon {
    position: relative;
    width: 195px;
    height: 195px;
    margin: auto;

    &.success-image {
        width: 150px;
        height: 150px;
    }
}

.warning {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    background-color: #dc3545;
    margin-top: 40px;

    &:hover {
        box-shadow: inset 0px 0px 10px 0px #520c12a1;
    }
}

.success {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    background-color: #198754;
    margin-top: 40px;

    &:hover {
        box-shadow: inset 0px 0px 10px 0px #095130cf;
    }
}