html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    * {
        box-sizing: inherit;
    }

    // tablet screens
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        // padding-top: 28px;
    }

    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        background-color: $pale-grey;
        // padding-top: 28px;
    }
}

// Global Classes

.container-fluid {
    padding: 0 6%;
}

a {
    color: $blue;
}

.white {
    color: $white !important;
}

.dark-grey {
    color: $dark-grey;
}

.input-elements {
    .form-label {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-bottom: 14px;
        color: #1C1F30;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .form-control,
    .form-select {
        color: $black;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 14px 20px;
        border-radius: 12px;
        border: 1px solid #D5DDEA;
    }

    .react-datepicker-wrapper {
        width: 100%;
    }
}

.copy-right {
    color: $white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 84px;
}

.page-bg {
    background-image: url(https://images.netcomlearning.com/ai-certs/cer365AllPageBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -10em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    // 1600
    @media (min-width: $large-min) and (max-width: $large-max) {
        background-position-y: -7em;
        background-position-x: 4em;   
    }

    // 1366
    @media (min-width: $small-min) and (max-width: $small-max) {
        background-position-y: -5em;
        background-position-x: 4em;
    }
}

.page-footer-bg {
    background-image: url(https://images.netcomlearning.com/ai-certs/cer365AllPageFooterBg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 354px;
    height: 254px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;

    &.verify-cert {
        transform: translateY(-78%);
        -webkit-transform: translateY(-78%);
        -moz-transform: translateY(-78%);
        -ms-transform: translateY(-78%);
        -o-transform: translateY(-78%);
}
}